<% if book_request.errors.any? %>
  <div class="errors">
    <h3><%= pluralize(book_request.errors.count, "issue") %> blocked this save</h3>
    <ul>
      <% book_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "shared/aladin_lookup", lookup: @aladin_lookup, search_path: @aladin_search_path %>

<%= form_with model: [:member, book_request], local: true do |form| %>
  <div class="detail-grid">
    <div>
      <div class="field-stack">
        <%= form.label :title %>
        <%= form.text_field :title, required: true %>
      </div>
      <div class="field-stack">
        <%= form.label :author %>
        <%= form.text_field :author %>
      </div>
      <div class="field-stack">
        <%= form.label :publisher %>
        <%= form.text_field :publisher %>
      </div>
      <div class="field-stack">
        <%= form.label :comment, "Why this book?" %>
        <%= form.text_area :comment %>
      </div>
    </div>
    <div>
      <div class="field-stack">
        <%= form.label :requested_on, "Request date" %>
        <%= form.date_field :requested_on %>
      </div>
      <div class="field-stack">
        <%= form.label :rating, "Your rating" %>
        <%= form.text_field :rating %>
      </div>
      <div class="field-stack">
        <%= form.label :fiscal_period_id, "Fiscal period" %>
        <%= form.select :fiscal_period_id, options_for_select([["Current active period", FiscalPeriod.find_by(active: true)&.id]] + FiscalPeriod.active_first.map { |period| [period.name, period.id] }, book_request.fiscal_period_id) %>
      </div>
      <div class="field-stack">
        <%= form.label :link_url, "Reference link" %>
        <%= form.text_field :link_url %>
      </div>
      <div class="field-stack">
        <%= form.label :cover_url, "Cover link" %>
        <%= form.text_field :cover_url %>
      </div>
    </div>
  </div>

  <div class="button-row">
    <%= form.submit submit_label %>
    <%= link_to "Cancel", book_request.persisted? ? member_book_request_path(book_request) : member_book_requests_path, class: "button-link secondary" %>
  </div>
<% end %>
